<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>@ViewBag.Title</title>

     <!-- Favicon -->
     <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/assets/img/apple-icon.png")">
     <link rel="icon" type="image/png" href="@Url.Content("~/assets/img/favicon.png")">

     <link href="@Url.Content("/css/bundle.css")" rel="stylesheet" />
     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

     <!-- Main CSS -->
     @* <link id="pagestyle" rel="stylesheet" href="@Url.Content("~/assets/css/material-dashboard.css?v=3.2.0")" /> *@

</head>

<body>
     @RenderSection("Menu", false)

     <div class="container">
          <main role="main" class="pb-3">
               @RenderBody()
          </main>
     </div>


     <script src="@Url.Content("/js/bundle.js")"></script>

</body>
</html>
