@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IEnumerable<TaskFlow.Domain.Entities.Projects.Project>

@{
     ViewData["Title"] = "View";
     Layout = "_Layout";
     var firstItem = Model.FirstOrDefault(); // to safely reference property names
}

@section Menu{
     <section class="container mt-4">
          <div class="d-flex justify-content-between mb-3">
               <!-- Dropdown Filters -->
               <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                         Filter
                    </button>
                    <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">All Tasks</a></li>
                         <li><a class="dropdown-item" href="#">My Tasks</a></li>
                         <li><a class="dropdown-item" href="#">Completed</a></li>
                         <li><a class="dropdown-item" href="#">Custom Filter...</a></li>
                    </ul>
               </div>

               <!-- Dropdown Sorting -->
               <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                         Sort
                    </button>
                    <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Due Date</a></li>
                         <li><a class="dropdown-item" href="#">Assignee</a></li>
                         <li><a class="dropdown-item" href="#">Priority</a></li>
                    </ul>
               </div>

               <!-- Grouping Options -->
               <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                         Group
                    </button>
                    <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">None</a></li>
                         <li><a class="dropdown-item" href="#">Assignee</a></li>
                         <li><a class="dropdown-item" href="#">Due Date</a></li>
                    </ul>
               </div>

               <!-- Options Menu -->
               <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                         Options
                    </button>
                    <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="#">Hide Completed</a></li>
                         <li><a class="dropdown-item" href="#">Show Subtasks</a></li>
                    </ul>
               </div>
          </div>

              

          <!-- Task Table -->
          <table class="table table-striped">
               <thead class="table-dark">
                    <tr>
                         <th><input type="checkbox" id="selectAllTasks"></th>
                              <th>
                                   @Html.DisplayNameFor(_ => firstItem!.Name)
                              </th>
                              <th>
                                   @Html.DisplayNameFor(_ => firstItem!.Description)
                              </th>
                              <th>
                                   @Html.DisplayNameFor(_ => firstItem!.UserId)
                              </th>
                              <th>
                                   @Html.DisplayNameFor(_ => firstItem!.CreatedAt)
                              </th>
                              <th>
                                   @Html.DisplayNameFor(_ => firstItem!.EndDate)
                              </th>
                              <th></th>
                    </tr>
               </thead>
               <tbody>
                         @foreach (var item in Model)
                         {
                              <tr>
                                   <td><input type="checkbox" class="task-select"></td>
                                   <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                   </td>
                                   <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                   </td>
                                   <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                   </td>
                                   <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                   </td>
                                   <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                   </td>
                                   <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                   </td>
                              </tr>
                         }
               </tbody>
          </table>
     </section>
}


<script>
     document.getElementById('selectAllTasks').addEventListener('change', function() {
         document.querySelectorAll('.task-select').forEach(cb => cb.checked = this.checked);
     });
</script>
